# =========================
# Ambiente virtual
# =========================
venv/

# =========================
# Cache Python
# =========================
__pycache__/
*.pyc

# =========================
# Banco de dados local
# =========================
db.sqlite3

# =========================
# Uploads / Media
# =========================
media/

# =========================
# Cache interno Django
# =========================
core/**/__pycache__/
