<footer class="site-footer">
    <div class="container footer-grid">

        <div></div>

        <div class="footer-center">
            <h4>Navegação</h4>
            <p class="footer-links">
                <a href="../index.html">Home</a> |
                <a href="../pages/python.html">Python</a> |
                <a href="../pages/powerbi.html">PowerBI</a> |
                <a href="../pages/excel.html">Excel</a> |
                <a href="../pages/curriculo.html">Currículo</a> |
                <a href="../pages/contato.html">Contato</a>
            </p>
        </div>

        <div class="footer-contact">
            <p>
                <a href="https://www.linkedin.com/in/jrleles-analista-de-dados/" target="_blank">
                    LinkedIn
                </a>
            </p>
            <p>
                <a href="https://github.com/ServicesBI" target="_blank">
                    GitHub
                </a>
            </p>
            <p>+55 61 99302-9988</p>
            <p>jrleles@servicesbi.com.br</p>
        </div>

    </div>

    <div class="footer-copy-bar">
        © 2025 ServicesBI. Todos os direitos reservados.
    </div>
</footer>
