<header class="site-header">
    <div class="container header-container">
        <nav class="nav">
            <a href="../index.html">Home</a>
            <a href="../pages/python.html">Python</a>
            <a href="../pages/powerbi.html">PowerBI</a>
            <a href="../pages/automacoes.html">Automações IA</a>
            <a href="../pages/excel.html">Excel</a>
            <a href="../pages/curriculo.html">Currículo</a>
            <a href="../pages/contato.html">Contato</a>
        </nav>
    </div>
</header>
